.container {
  width: 1024px;
  display: flex; /* 부모 요소를 flex container로 설정 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.box {
  width: 300px;
  height: 400px;
  display: flex; /* 자식 요소들을 flex container로 설정 */
  flex-direction: column; /* 자식 요소들을 세로 방향으로 배열 */
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
}

input:not(:nth-child(9)) {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  padding: 5px 0 5px 10px ;
  margin-bottom: 15px; /* 원하는 마진 값으로 설정 */
}

