.container {
  width: 1024px;
  display: flex; /* 부모 요소를 flex container로 설정 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.box {
  width: 300px;
  height: 400px;
  display: flex; /* 자식 요소들을 flex container로 설정 */
  flex-direction: column; /* 자식 요소들을 세로 방향으로 배열 */
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  background: conic-gradient(
    rgba(82, 1, 32, 0.6) 0%,
    rgba(150, 43, 9, 0.6) 20%,
    rgba(181, 113, 20, 0.6) 40%,
    rgba(8, 64, 62, 0.6) 60%,
    rgba(112, 101, 19, 0.6) 80%,
    rgba(82, 1, 32, 0.6) 100%
  );
}
.title{
  color: white;
}
input {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 10px;
  padding: 5px 0 5px 10px;
  margin-bottom: 15px; /* 원하는 마진 값으로 설정 */
}
.caution {
  font-size: 15px;
  position: relative;
}
.finalCheck {
  width: 150px;
  height: 40px;
  line-height: 40px; /*텍스트 상하정렬*/
  font-size: 15px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
